hr
footer.footer
  .container
     .row.footer-top
       .col-sm-6.col-lg-6
         h4 和荣劳务公司
         p 和荣劳务，为您筑福.努力就能成功！
       .col-sm-6.col-lg-5.col-lg-offset-1
         .row.about
           .col-xs-3
             h4 关于
             ul.list-unstyled
               li 关于我们
               li 业务合作
           .col-xs-3
             h4 联系方式
             ul.list-unstyled
               li 微博
               li 电子邮件
           .col-xs-3
             h4 加入我们
             ul.list-unstyled
               li 招聘说明
               

     hr
     .row.footer-bottom   
       ul.list-inline.text-center
         li 杭州和荣 |
         li 版权所有2015    
