link(rel="styleSheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css")
link(rel="styleSheet" href="http://7u2k4s.com1.z0.glb.clouddn.com/css/style.css")
link(rel="styleSheet" href="http://7u2k4s.com1.z0.glb.clouddn.com/css/gzh.css")
script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
script(src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js")

